<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ pagetitle }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="image" content="{{ pagepic }}">
    <meta name="robots" content="index,follow"/>
	<link rel="canonical" href="{{ pageurl }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ pagetitle }} - {{ sitename }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:url" content="{{ pageurl }}" />
	<meta property="og:site_name" content="{{ sitename }}" />
	<meta property="fb:app_id" content="461996124627453" />
	<meta property="og:image" content="{{ pagepic }}" />
	<meta property="og:image:alt" content="{{ pagetitle }}" />
	<meta property="og:image:type" content="image/png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ pagetitle }} - {{ sitename }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ pagepic }}" />

    <link rel="stylesheet" href="{{ siteurl }}css/styles.css">
    <!-- <script src="https://kit.fontawesome.com/722f8db22d.js"></script> -->
    <style>
    	.mail-set{
	        opacity: 0;
	        position: absolute;
	        top: 0;
	        left: 0;
	        height: 0;
	        width: 0;
	        z-index: -1;
	    }
	</style>

  </head>

  <body class="page-{{class}}">
  	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  