{% extends 'index.twig' %}
{% block head %}

{% endblock head %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 no-gutter" style="min-width: 700px; margin-left: auto; margin-right: auto; min-height: 525px;">
                <img class="w-100 h-100" src="{{ site.url }}images/stats.jpg" alt="Database systems design and programming" />
            </div>
            <div class="col-md-6 no-gutter text-white bg-danger pt-3 pb-2 pl-3 pr-3" style="min-width: 700px; margin-left: auto; margin-right: auto; min-height: 525px;">
                <div class="text-white bg-danger p-3">
                    <h3>Custom Business oriented data management software</h3>
                    <p class="lead">We consult carefully to understand your business data flow channels and design software to meet your software needs</p>
                    <p class="lead">Optimise data flow | Improve access to information | Automate processes to save time and effort</p>
                    <p>Some examples of systems we have created:</p>
                    <ul>
                        <li>Car rental booking Software</li>
                        <li>Client Relations Management Software</li>
                        <li>Stock Management Software</li>
                        <li>Custom Legal Document auto-filling Software</li>
                        <li>Estate Agent Website Systems</li>
                        <li>Restaurant Booking Software and website menus</li>
                        <li>Database Automatic Contact Template Emailer</li>
                        <li>SA Liquor Law Document and Client Database System</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="text-center p-2 mt-3">
            <h3>The Benefits of Custom Software Systems</h3>
            <div class="hr-divider mt-2">
                <div class="hr-line"></div>
                <div class="hr-icon"><i class="fa fa-chevron-down"></i></div>
                <div class="hr-line"></div>
            </div>
        </div>
    </div>
    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <ul>
                    <li class="reddot"><span class="black-text">Centralise your data</span></li>
                    <li class="reddot"><span class="black-text">Reduce workload through automation</span></li>
                    <li class="reddot"><span class="black-text">Simplify daily tasks</span></li>
                    <li class="reddot"><span class="black-text">Optimise and manage your workflow</span></li>
                    <li class="reddot"><span class="black-text">Effectively manage projects</span></li>
                    <li class="reddot"><span class="black-text">Save you precious time and money</span></li>
                    <li class="reddot"><span class="black-text">Maximise the value of your data</span></li>
                    <li class="reddot"><span class="black-text">Secure your data with automated backups</span></li>
                </ul>
            </div>
        </div>
        <br />

        <div class="row text-center mt-4">
            <div class="col">
                <img class="img-fluid" src="{{ site.url }}/images/word.png" alt="{{ alt }}" />
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ site.url }}/images/excel.png" alt="{{ alt }}" />
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ site.url }}/images/access.png" alt="{{ alt }}" />
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ site.url }}/images/calendar.png" alt="{{ alt }}" />
            </div>
            <div class="col">
                <img  class="img-fluid"src="{{ site.url }}/images/outlook.png" alt="{{ alt }}" />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col text-center">
                <h3>Harness the Full power of Microsoft Office through Access Databases and VBA</h3>
            </div>
        </div>
        <div class="row">
            <div class="col no-gutter">
                <br />
                <div class="custom-border mt-4 mb-4">
                    <div class="text-center bg-danger text-white p-3 mb-2">
                        <h4>Custom build business data management systems</h4>
                    </div>
                    <ul>
                        <li class="reddot"><span class="black-text">specific to your business data needs</span></li>
                        <li class="reddot"><span class="black-text">multi-user desktop or cloud user interface through MS-Access</span></li>
                        <li class="reddot"><span class="black-text">user friendly interface</span></li>
                        <li class="reddot"><span class="black-text">centralise information effectively</span></li>
                        <li class="reddot"><span class="black-text">custom invoicing systems</span></li>
                        <li class="reddot"><span class="black-text">effectively list customers, suppliers, stock, sales history and more</span></li>
                        <li class="reddot"><span class="black-text">track important dates, deadlines and appointments</span></li>
                        <li class="reddot"><span class="black-text">one-click completion of word documents, contracts, letterheads and emails</span></li>
                        <li class="reddot"><span class="black-text">email list building and bulk email systems</span></li>
                        <li class="reddot"><span class="black-text">statistics and reports on any data in your business</span></li>
                        <li class="reddot"><span class="black-text">automated cloud backups</span></li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}