{% extends 'index.twig' %}

{% block head %}{% endblock head %}

{% block body %}
<div class="container bg-white mt-3">
    <div class="row">
        <div class="col no-gutter">
            <div class="bg-danger p-3 text-white">
                <h4>We offer complete website management services, everything under one hat</h4>
            </div>
            <br />
            <div class="management-services">
                <ul>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}domain-name/">Domain</a></span></li>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}hosting/">Hosting</a></span></li>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}website-design/">Web Design</a></span></li>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}seo-search-engine-optimisation/">SEO Setup</a></span></li>
                    <li class="reddot"><span class="black-text">CMS Core and plugin updates</span></li>
                    <li class="reddot"><span class="black-text">Content Updates</span></li>
                    <li class="reddot"><span class="black-text">Adding pages, posts or products on a monthly basis</span></li>
                    <li class="reddot"><span class="black-text">Adding images</span></li>
                    <li class="reddot"><span class="black-text">Error reporting and correction</span></li>
                    <li class="reddot"><span class="black-text">Security checks and updates</span></li>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}seo-search-engine-optimisation/">SEO Management</a></span></li>
                    <li class="reddot"><span class="black-text">Analytics and reporting</span></li>
                    <li class="reddot"><span class="black-text">
                            <a href="{{ site.url }}online-marketing/">Online Marketing</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br />
            <h5>We offer website management as an extra service to all our website and hosting customers.</h5>
            <br />
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}{% endblock scripts %}