<nav class="navbar navbar-expand-lg topnav fixed-top">

  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="tel:27-799-959-818">+27 (0) 79 995 9818</a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:info@secondsite.xyz">info@secondsite.xyz</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">

    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg secondnav navbar-light bg-light fixed-top">

  <div class="container">
    <a class="navbar-brand" href="{{siteurl}}"><img class="img-fluid" alt="{{ alt }}" src="{{siteurl}}/images/secondsite-logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{siteurl}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{siteurl}}/website-design/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Website Design
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{siteurl}}/website-design/">Website Design</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{siteurl}}/online-marketing/">Online Marketing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{siteurl}}/website-management/">Managed Websites</a>
                </div>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{{siteurl}}/hosting/">Hosting</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{siteurl}}/domain-name/">Domains</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{siteurl}}/database-design/">Database Design</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{siteurl}}/seo-search-engine-optimisation/">SEO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{siteurl}}/ssl-certificates/">SSL</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{siteurl}}/contact-us/">Contact</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
        </div>
    </div><!-- navbar collapse -->
  </div>
</nav>