{% extends 'sb_index.twig' %}
  {% block head %}
    <link href="{{ site.url }}vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{%  endblock %}
  {% block body %}

    <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contact Form Submissions</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>{{ thead.0|capitalize|escape }}</th>
                <th>{{ thead.1|capitalize|escape }}</th>
                <th>{{ thead.2|capitalize|escape }}</th>
                <th>{{ thead.3|capitalize|escape }}</th>
                <th>{{ thead.5|capitalize|escape }}</th>
                <th>{{ thead.6|capitalize|escape }}</th>
              </tr>
            </thead>
            <tbody>
              {% for r in tbody %}
                <tr>
                  <td>{{ r.id|capitalize|escape }}</td>
                  <td>{{ r.firstname|capitalize|escape }}</td>
                  <td>{{ r.lastname|capitalize|escape }}</td>
                  <td><a href="mailto:{{ r.email|escape }}">{{ r.email|escape }}</a></td>
                  <td>{{ r.message|capitalize|escape }}</td>
                  <td>{{ r.date|capitalize|escape }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  <script src="{{ site.url }}vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="{{ site.url }}vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="{{ site.admin }}js/demo/datatables-demo.js"></script>
{% endblock %}