<section id="tabs">
	<div class="container">
		<!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">{{ page.title }}</h1>
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user-secret fa-sm text-white-50"></i> Privacy</a>
            </div>
		<div class="row">
			<div class="col-xs-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
						<a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false">Change Password</a>
						<a class="nav-item nav-link" id="nav-email-tab" data-toggle="tab" href="#nav-email" role="tab" aria-controls="nav-email" aria-selected="false">Change Email</a>
						<a class="nav-item nav-link" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="false">Delele Account</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<form id="profile-form" class="user" action="{{ site.admin }}php/profile.php" method="post" role="form" data-toggle="validator">
				            <div class="messages"></div>
				            <div class="form-group row">
				                <div class="col-sm-6 mb-3 mb-sm-0">
				                	<label for="firstname">First Name</label>
				                    <input type="text" class="form-control form-control-user"  id="firstname" name="firstname" placeholder="{{ user.firstname|escape|capitalize }}" value="{{ user.firstname|escape|capitalize }}" required="required">
				                </div>
				                <div class="col-sm-6">
				                	<label for="lastname">Last Name</label>
				                    <input type="text" class="form-control form-control-user" id="lastname" name="lastname" placeholder="{{ user.lastname|escape|capitalize }}" value="{{ user.lastname|escape|capitalize }}" required="required">
				                </div>
				            </div>
				            <div class="row pt-2 pb-2" style="visibility:hidden; display:none;">
				                <div class="col-md-12">
				                    <a href="mailto:{{ user.email|escape }}">{{ user.email|escape }}</a>
				                    <input class="hidden" style="visibility:hidden; display:none;" type="email" class="form-control form-control-user" id="email" name="email" placeholder="{{ user.email|escape }}" value="{{ user.email|escape }}" required="required">
				                </div>
				            </div>
				            <div class="form-group"> 
				            	<label for="userrole">User Role</label>
				                <input type="text" class="form-control form-control-user" id="userrole" name="userrole" placeholder="{{ user.userrole|escape|capitalize }}" value="{{ user.userrole|escape|capitalize }}" required="required">
				            </div>
				            <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Update</button>
				        </form>
					</div>
					<div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
						<form id="password-form" class="user" action="{{ site.admin }}php/password.php" method="post" role="form" data-toggle="validator">
					        <div class="messages"></div>
					        <div class="form-group">
					        	<label for="email">Email Address</label>
					            <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ user.email|escape }}" placeholder="{{ user.email|escape }}" required="required">
					        </div>
					        <div class="form-group">
					        	<label for="password">Current Password Please!</label>
					            <input type="password" class="form-control form-control-user" id="currpass" name="currpass" placeholder="Current Password Please" required="required">
					        </div>
					        <div class="form-group row">
					            <div class="col-sm-6 mb-3 mb-sm-0">
					            	<label for="newpass">New Password Please</label>
					                <input type="password" class="form-control form-control-user" id="newpass" name="newpass" placeholder="New Password Please" required="required">
					            </div>
					            <div class="col-sm-6">
					            	<label for="repeatnewpass">Repeat New Password Please</label>
					                <input type="password" class="form-control form-control-user" id="repeatnewpass" name="repeatnewpass" placeholder="Please confirm new password!" required="required">
					            </div>
					        </div>
					        <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Change Password</button>
					    </form>
					</div>
					<div class="tab-pane fade" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab">
						<form id="email-change-form" class="user" action="{{ site.admin }}php/change-email.php" method="post" role="form">
					        <div class="messages"></div>
					        <div class="form-group">
					        	<label for ="password">New email address</label>
					            <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="{{ user.email|escape }}" required="required">
					        </div>
					        <div class="form-group">
					        	<label for="password">Your Current Password Please</label>
					            <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Current Password Please" required="required">
					        </div>
					        <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Change Email</button>
					    </form>
					</div>
					<div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
						<form id="delete-account-form" class="user" action="{{ site.admin }}php/delete-account.php" method="post" role="form" data-toggle="validator">
					        <div class="messages"></div>
					        <div class="form-group">
					        	<label for="email">Email</label>
					            <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ user.email|escape }}" placeholder="{{ user.email|escape }}" required="required">
					        </div>
					        <div class="form-group">
					        	<label for="password">Your password please!</label>
					            <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Current Password Please" required="required">
					        </div>
					        <button type="submit" id="submit" class="btn btn-success btn-send"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Delete Account</button>
					        <p class="lead text-danger">Warning: This action cannot be undone</p>
					    </form>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>
<!-- ./Tabs -->